<!doctype html>
<html lang="ko">

<head>
    <% include ../viewmodules/head.ejs %>
</head>

<body>

    <!-- Wrap -->
    <div class="wrap">

        <header>
            <% include ../viewmodules/header.ejs %>
            <link rel="stylesheet" type="text/css" href="/stylesheets/common.css">
            <link rel="stylesheet" type="text/css" href="/stylesheets/product.css">


        </header>

        <!-- Bg Dimm -->
        <div class="bg_dimm" onclick="close_layer();">&nbsp;</div>
        <div class="bg_dimm_prevent">&nbsp;</div>

        <!-- 추천검색어 -->
        <div class="recommend_srch">
            <div class="scroll_srch">
                <div class="scroller">
                    <div class="default" style="display:block">
                        <strong>추천 검색어</strong>
                        <ul></ul>
                    </div>
                    <!-- 연관검색어 -->
                    <div class="chain">
                        <ul></ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Mobile Menu -->
        <div class="gnb_opacity"><button class="btn_close">닫기</button></div>
        <div class="menu_wrap">

            <div class="menu">
                <div class="top">
                    <!-- 비회원 -->
                    <div class="guest">
                        <div class="btn_join">
                            로그인 후 예약하시면<br>할인 쿠폰과 추가 혜택을 받을 수 있어요.<br />
                            <a href="http://14.32.18.107:3000/user/login"><span>로그인</span></a>
                        </div>
                        <div class="bot">
                            <!-- 스크립트 링크 -->
                            <a href="http://14.32.18.107:3000/user/login">
                                <p>-<br /><span>포인트</span></p>
                            </a>
                            <a href="http://14.32.18.107:3000/user/login">
                                <p>-<br /><span>쿠폰함</span></p>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- Iscroll -->
                <div class="scroll_nav">
                    <div class="scroller">
                        <ul>
                            <li><a href="http://14.32.18.107:3000/">홈</a></li>
                            <li class="depth_2">
                                <button type="button" class="has_ul"><span>숙소유형</span></button>
                                <ul>
                                    <li><a href="http://14.32.18.107:3000/product/search/2">호텔/리조트</a></li>
                                    <li><a href="http://14.32.18.107:3000/product/search/3">펜션</a></li>
                                    <li><a href="http://14.32.18.107:3000/product/search/6">게스트하우스</a></li>
                                    <li><a href="http://14.32.18.107:3000/product/search/5">캠핑·글램핑</a></li>
                                    <li><a href="http://14.32.18.107:3000/product/search/7">한옥 </a></li>
                                </ul>
                            </li>
                            <li><a href="http://14.32.18.107:3000/product/srp">내주변</a></li>
                        </ul>
                        <ul>
                            <li><a href="http://14.32.18.107:3000/user/login?returnUrl=my%2FreserveList">예약 내역</a></li>
                        </ul>
                        <ul>
                            <li class="depth_2"><button type="button" class="has_ul"><span>더보기</span></button>
                                <ul>
                                    <li><a href="http://14.32.18.107:3000/more/notice">공지사항</a></li>
                                    <li><a href="http://14.32.18.107:3000/more/event">이벤트</a></li>
                                    <li><a href="http://14.32.18.107:3000/more/project">혁신 프로젝트</a></li>
                                    <li><a href="http://14.32.18.107:3000/more/faq">고객문의</a></li>
                                    <li><a href="http://14.32.18.107:3000/more/terms">약관 및 정책</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- //Mobile Menu -->

        <!-- CSS -->
        <link rel="stylesheet" href="/css/owl.carousel.css" />

        <link rel="stylesheet" href="/css/jquery-ui.css?rand=1591250196" />
        <link rel="stylesheet" href="/css/product.css?rand=1591250196" />
        <form id="product_filter_form" method="get" action="http://14.32.18.107:3000/product/search/2/2003"
            data-sel_date="2020-06-08" data-sel_date2="2020-06-09">
            <input type="hidden" name="sort" id="sort" value="HIT">
            <input type="hidden" name="sel_date" id="sel_date" value="2020-06-08">
            <input type="hidden" name="sel_date2" id="sel_date2" value="2020-06-09">
            <div class="listpage">

                <!-- Result Top -->
                <div class="fix_srch">
                    <div class="srch_bar">
                        <div class="wrap_inp">
                            <input type="text" placeholder="지역, 숙소명">
                        </div>
                        <button class="btn_cancel" onclick="srch_close()">취소</button>
                    </div>
                </div>
                <!-- //Result Top -->

                <!-- Sub Top -->
                <div class="sub_top_wrap">
                    <!-- 페이백일때 클래스 추가 early_top -->
                    <div class="sub_top bg_kong_1">
                        <h2>호텔</h2>
                        <div class="area">
                            <div class="btn_area"><span>서울</span>서울 전체</div>
                            <div class="btn_date"><span class="date_view"><b></b><em>&nbsp;·&nbsp;1박</em></span></div>
                        </div>
                        <span class="keyword"></span>
                    </div>
                </div>
                <!-- //Sub Top -->

                <!-- Datepicker -->
                <input type="text" class="product_date" />

                <!-- Content  -->
                <div id="content" class="sub_wrap">
                    <!-- Area -->
                    <div class="area_pop">
                        <div class="fix_title">
                            지역 선택<button type="button" onclick="area_close();">닫기</button>
                        </div>

                        <!-- 지역필터 (리조트/캠핑/한옥 클래스추가 area_etc)-->
                        <div class="area_wrap ">
                            <div class="iscroll_01 depth_01">
                                <div class="scroller">
                                    <ul class="city">
                                        <!-- 지역 고정 클래스 fix / 오버시 on -->
                                        <li>
                                            <a href="http://14.32.18.107:3000/product/search/2/2003" class="fix on">
                                                서울 </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="iscroll_02">
                                <div class="scroller">
                                    <ul class="city_child">
                                        <li><a href="http://14.32.18.107:3000/product/search/2/2003" class="on">서울 전체</a>
                                        </li>
                                        <li><a href="http://14.32.18.107:3000/product/search/2/2012">서초 · 강남</a></li>
                                        <li><a href="http://14.32.18.107:3000/product/search/2/2019">송파 · 강동</a></li>
                                        <li><a href="http://14.32.18.107:3000/product/search/2/2016">성동 · 광진 · 동대문 · 강북</a>
                                        </li>
                                        <li><a href="http://14.32.18.107:3000/product/search/2/2014">종로 · 중구</a></li>
                                        <li><a href="http://14.32.18.107:3000/product/search/2/2015">용산 · 성북</a></li>
                                        <li><a href="http://14.32.18.107:3000/product/search/2/2020">은평 · 마포 · 서대문</a>
                                        </li>
                                        <li><a href="http://14.32.18.107:3000/product/search/2/2018">양천 · 금천 · 강서 · 구로</a>
                                        </li>
                                        <li><a href="http://14.32.18.107:3000/product/search/2/2017">영등포 · 동작 · 관악</a>
                                        </li>
                                        <li><a href="http://14.32.18.107:3000/product/search/2/2021">중랑 · 도봉 · 노원</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- //Area -->

                    <!-- Filter -->
                    <div class="filter_wrap">
                        <div class="fix_title">
                            상세조건<button type="button" onclick="filter_close();">닫기</button>
                        </div>

                        <section class="date_wrap">
                            <h3>날짜</h3>
                            <div class="btn_date"><span class="date_view"><b></b><em>&nbsp;·&nbsp;1박</em></span></div>
                        </section>

                        <h3>상세조건</h3>
                        <div class="btn_wrap">
                            <button type="button"
                                onclick="window.location.href='http://14.32.18.107:3000/product/search/1/2003?sel_date=2020-06-08&sel_date2=2020-06-09'">초기화</button>
                            <button type="submit">적용</button>
                        </div>
                        <section>
                            <ul>
                                <li><input type="checkbox" id="reserve_0" name="reserve[]" class="inp_chk"
                                        value="2" /><label for="reserve_0" class="label_chk">예약 가능</label></li>
                                <li><input type="checkbox" id="promotion_1" name="promotion[]" class="inp_chk"
                                        value="Y" /><label for="promotion_1" class="label_chk">프로모션</label></li>
                            </ul>
                        </section>
                        <section><strong>호텔 유형</strong>
                            <ul>
                                <li><input type="checkbox" id="grade_0" name="grade[]" class="inp_chk"
                                        value="STAR5" /><label for="grade_0" class="label_chk">5성급</label></li>
                                <li><input type="checkbox" id="grade_1" name="grade[]" class="inp_chk"
                                        value="S1" /><label for="grade_1" class="label_chk">특1급</label></li>
                                <li><input type="checkbox" id="grade_2" name="grade[]" class="inp_chk"
                                        value="S" /><label for="grade_2" class="label_chk">특급</label></li>
                            </ul>
                        </section>
                        <section><input type="hidden" id="persons" name="persons" value=""><strong>인원</strong>
                            <div class="cnt_people" data-min="2" data-max="10" data-def="2"><button type="button"
                                    class="disable dn">-</button><span>2</span><button type="button"
                                    class=" up">+</button></div>
                        </section>
                        <section><strong>베드 타입</strong>
                            <div class="room_type">
                                <p><input type="checkbox" class="inp_room_01" name="bed_type[0]" id="bed_type_S"
                                        value="S" /><label for="bed_type_S" class="label_room_01">싱글</label></p>
                                <p><input type="checkbox" class="inp_room_02" name="bed_type[1]" id="bed_type_D"
                                        value="D" /><label for="bed_type_D" class="label_room_02">더블</label></p>
                                <p><input type="checkbox" class="inp_room_03" name="bed_type[2]" id="bed_type_T"
                                        value="T" /><label for="bed_type_T" class="label_room_03">트윈</label></p>
                                <p><input type="checkbox" class="inp_room_04" name="bed_type[3]" id="bed_type_O"
                                        value="O" /><label for="bed_type_O" class="label_room_04">온돌</label></p>
                            </div>
                        </section>
                        <section><strong>공용시설<button type="button">모두 보기</button></strong>
                            <ul class="hide_type half">
                                <li><input type="checkbox" id="tmino_0" name="tmino[]" class="inp_chk"
                                        value="41" /><label for="tmino_0" class="label_chk">피트니스</label></li>
                                <li><input type="checkbox" id="tmino_1" name="tmino[]" class="inp_chk"
                                        value="42" /><label for="tmino_1" class="label_chk">수영장</label></li>
                                <li><input type="checkbox" id="tmino_2" name="tmino[]" class="inp_chk"
                                        value="44" /><label for="tmino_2" class="label_chk">사우나</label></li>
                                <li><input type="checkbox" id="tmino_3" name="tmino[]" class="inp_chk"
                                        value="45" /><label for="tmino_3" class="label_chk">골프장</label></li>
                                <li><input type="checkbox" id="tmino_4" name="tmino[]" class="inp_chk"
                                        value="46" /><label for="tmino_4" class="label_chk">레스토랑</label></li>
                                <li><input type="checkbox" id="tmino_5" name="tmino[]" class="inp_chk"
                                        value="112" /><label for="tmino_5" class="label_chk">엘레베이터</label></li>
                                <li><input type="checkbox" id="tmino_6" name="tmino[]" class="inp_chk"
                                        value="137" /><label for="tmino_6" class="label_chk">라운지</label></li>
                                <li><input type="checkbox" id="tmino_7" name="tmino[]" class="inp_chk"
                                        value="138" /><label for="tmino_7" class="label_chk">공용PC</label></li>
                                <li><input type="checkbox" id="tmino_8" name="tmino[]" class="inp_chk"
                                        value="139" /><label for="tmino_8" class="label_chk">BBQ</label></li>
                                <li><input type="checkbox" id="tmino_9" name="tmino[]" class="inp_chk"
                                        value="141" /><label for="tmino_9" class="label_chk">카페</label></li>
                                <li><input type="checkbox" id="tmino_10" name="tmino[]" class="inp_chk"
                                        value="184" /><label for="tmino_10" class="label_chk">공용스파</label></li>
                                <li><input type="checkbox" id="tmino_11" name="tmino[]" class="inp_chk"
                                        value="186" /><label for="tmino_11" class="label_chk">족구장</label></li>
                                <li><input type="checkbox" id="tmino_12" name="tmino[]" class="inp_chk"
                                        value="187" /><label for="tmino_12" class="label_chk">세미나실</label></li>
                                <li><input type="checkbox" id="tmino_13" name="tmino[]" class="inp_chk"
                                        value="188" /><label for="tmino_13" class="label_chk">편의점</label></li>
                                <li><input type="checkbox" id="tmino_14" name="tmino[]" class="inp_chk"
                                        value="189" /><label for="tmino_14" class="label_chk">노래방</label></li>
                                <li><input type="checkbox" id="tmino_15" name="tmino[]" class="inp_chk"
                                        value="190" /><label for="tmino_15" class="label_chk">주방/식당</label></li>
                                <li><input type="checkbox" id="tmino_16" name="tmino[]" class="inp_chk"
                                        value="192" /><label for="tmino_16" class="label_chk">세탁기</label></li>
                                <li><input type="checkbox" id="tmino_17" name="tmino[]" class="inp_chk"
                                        value="193" /><label for="tmino_17" class="label_chk">건조기</label></li>
                                <li><input type="checkbox" id="tmino_18" name="tmino[]" class="inp_chk"
                                        value="194" /><label for="tmino_18" class="label_chk">탈수기</label></li>
                                <li><input type="checkbox" id="tmino_19" name="tmino[]" class="inp_chk"
                                        value="195" /><label for="tmino_19" class="label_chk">주차장</label></li>
                                <li><input type="checkbox" id="tmino_20" name="tmino[]" class="inp_chk"
                                        value="196" /><label for="tmino_20" class="label_chk">취사가능</label></li>
                                <li><input type="checkbox" id="tmino_21" name="tmino[]" class="inp_chk"
                                        value="333" /><label for="tmino_21" class="label_chk">공용샤워실</label></li>
                                <li><input type="checkbox" id="tmino_22" name="tmino[]" class="inp_chk"
                                        value="335" /><label for="tmino_22" class="label_chk">온천</label></li>
                                <li><input type="checkbox" id="tmino_23" name="tmino[]" class="inp_chk"
                                        value="334" /><label for="tmino_23" class="label_chk">스키장</label></li>
                            </ul>
                        </section>
                        <section><strong>객실 내 시설<button type="button">모두 보기</button></strong>
                            <ul class="hide_type half">
                                <li><input type="checkbox" id="tmino_24" name="tmino[]" class="inp_chk"
                                        value="43" /><label for="tmino_24" class="label_chk">객실스파</label></li>
                                <li><input type="checkbox" id="tmino_25" name="tmino[]" class="inp_chk"
                                        value="50" /><label for="tmino_25" class="label_chk">미니바</label></li>
                                <li><input type="checkbox" id="tmino_26" name="tmino[]" class="inp_chk"
                                        value="47" /><label for="tmino_26" class="label_chk">와이파이</label></li>
                                <li><input type="checkbox" id="tmino_27" name="tmino[]" class="inp_chk"
                                        value="49" /><label for="tmino_27" class="label_chk">욕실용품</label></li>
                                <li><input type="checkbox" id="tmino_28" name="tmino[]" class="inp_chk"
                                        value="197" /><label for="tmino_28" class="label_chk">TV</label></li>
                                <li><input type="checkbox" id="tmino_29" name="tmino[]" class="inp_chk"
                                        value="198" /><label for="tmino_29" class="label_chk">에어컨</label></li>
                                <li><input type="checkbox" id="tmino_30" name="tmino[]" class="inp_chk"
                                        value="199" /><label for="tmino_30" class="label_chk">냉장고</label></li>
                                <li><input type="checkbox" id="tmino_31" name="tmino[]" class="inp_chk"
                                        value="200" /><label for="tmino_31" class="label_chk">객실샤워실</label></li>
                                <li><input type="checkbox" id="tmino_32" name="tmino[]" class="inp_chk"
                                        value="201" /><label for="tmino_32" class="label_chk">욕조</label></li>
                                <li><input type="checkbox" id="tmino_33" name="tmino[]" class="inp_chk"
                                        value="202" /><label for="tmino_33" class="label_chk">드라이기</label></li>
                                <li><input type="checkbox" id="tmino_34" name="tmino[]" class="inp_chk"
                                        value="203" /><label for="tmino_34" class="label_chk">다리미</label></li>
                                <li><input type="checkbox" id="tmino_35" name="tmino[]" class="inp_chk"
                                        value="204" /><label for="tmino_35" class="label_chk">전기밥솥</label></li>
                            </ul>
                        </section>
                        <section><strong>기타<button type="button">모두 보기</button></strong>
                            <ul class="hide_type half">
                                <li><input type="checkbox" id="tmino_36" name="tmino[]" class="inp_chk"
                                        value="54" /><label for="tmino_36" class="label_chk">반려견동반</label></li>
                                <li><input type="checkbox" id="tmino_37" name="tmino[]" class="inp_chk"
                                        value="51" /><label for="tmino_37" class="label_chk">조식포함</label></li>
                                <li><input type="checkbox" id="tmino_38" name="tmino[]" class="inp_chk"
                                        value="52" /><label for="tmino_38" class="label_chk">객실내흡연</label></li>
                                <li><input type="checkbox" id="tmino_39" name="tmino[]" class="inp_chk"
                                        value="53" /><label for="tmino_39" class="label_chk">발렛파킹</label></li>
                                <li><input type="checkbox" id="tmino_40" name="tmino[]" class="inp_chk"
                                        value="134" /><label for="tmino_40" class="label_chk">금연</label></li>
                                <li><input type="checkbox" id="tmino_41" name="tmino[]" class="inp_chk"
                                        value="55" /><label for="tmino_41" class="label_chk">객실내취사</label></li>
                                <li><input type="checkbox" id="tmino_42" name="tmino[]" class="inp_chk"
                                        value="131" /><label for="tmino_42" class="label_chk">프린터사용</label></li>
                                <li><input type="checkbox" id="tmino_43" name="tmino[]" class="inp_chk"
                                        value="132" /><label for="tmino_43" class="label_chk">짐보관가능</label></li>
                                <li><input type="checkbox" id="tmino_44" name="tmino[]" class="inp_chk"
                                        value="133" /><label for="tmino_44" class="label_chk">개인사물함</label></li>
                                <li><input type="checkbox" id="tmino_45" name="tmino[]" class="inp_chk"
                                        value="136" /><label for="tmino_45" class="label_chk">무료주차</label></li>
                                <li><input type="checkbox" id="tmino_46" name="tmino[]" class="inp_chk"
                                        value="205" /><label for="tmino_46" class="label_chk">픽업가능</label></li>
                                <li><input type="checkbox" id="tmino_47" name="tmino[]" class="inp_chk"
                                        value="206" /><label for="tmino_47" class="label_chk">캠프파이어</label></li>
                                <li><input type="checkbox" id="tmino_48" name="tmino[]" class="inp_chk"
                                        value="207" /><label for="tmino_48" class="label_chk">카드결제</label></li>
                                <li><input type="checkbox" id="tmino_49" name="tmino[]" class="inp_chk"
                                        value="336" /><label for="tmino_49" class="label_chk">장애인편의시설</label></li>
                            </ul>
                        </section>
                    </div>
                    <!-- //Filter -->

                    <!-- List -->
                    <div class="list_wrap">
                        <div class="top_sort">

                            <!-- Mobile-->
                            <div class="mobile">
                                <button type="button" class="" onclick="filter_open();">상세조건</button>
                                <button type="button" onclick="sort_open();" class="mob_sort">추천 순</button>
                                <button type="button" onclick="pop_map_m();">지도</button>
                            </div>

                            <!-- PC-->
                            <div class="pc">
                                <div class="btn_wrap">
                                    <button type="button" data-sort="HIT" class="on"><span>추천 순</span></button><button
                                        type="button" data-sort="DISTANCE" class=""><span>거리 순</span></button><button
                                        type="button" data-sort="LOWPRICE" class=""><span>낮은 가격 순</span></button><button
                                        type="button" data-sort="HIGHPRICE" class=""><span>높은 가격 순</span></button>
                                </div>
                                <button type="button" class="btn_map" onclick="pop_map_pc();">지도</button>
                            </div>
                        </div>

                        <div id="poduct_list_area">
                            <!-- 인기추천 -->
                            <div class="title">
                                <h3>인기추천&nbsp;</h3>
                            </div>
                            <ul>
                                <% for(let accommodation of accommodations) { %>
                                <li class="list_2 adcno2">
                                    <a href="http://14.32.18.107:3000/product/detail?ano=6903&adcno=2&sel_date=2020-06-08&sel_date2=2020-06-09"
                                        data-ano=<%= accommodation.accommodationId %>
                                        data-adcno=<%= accommodation.division %> data-alat="0" data-alng="0"
                                        data-distance="0" data-affiliate="1">
                                        <p class="pic">
                                            <img class="lazy align"
                                                data-original="http://14.32.18.107:3000/resize_1000X500x0/affiliate/2016/05/24/5743fc4cd44d8.jpg"
                                                src="http://14.32.18.107:3000/images/211b0318091c6505e477fe593bd75a8e.jpg"
                                                alt=<%= accommodation.accommodationName %> />
                                        </p>
                                        <div class="stage gra_black_vertical">
                                            <div class="evt_info"><span>어쩌구저쩌구[이벤트 1]</span></div>
                                            <div class="name">
                                                <div class="badge"><span class="build_badge"
                                                        style="color: rgba(255,255,255,1); background-color: rgba(106,120,141,1);">N성급</span>
                                                </div> <strong><%= accommodation.accommodationName %></strong>
                                                <p class="score">
                                                    <em><%= accommodation.grade %></em>&nbsp;<span>만족해요</span>&nbsp;(xxx) </p>
                                                <p><%= accommodation.addressName %></p>
                                            </div>
                                            <div class="price">
                                                <div class="map_html">
                                                    <p><em>100,000</em><b>50,000원</b></p>
                                                </div>
                                                <p><em>100,000</em><b>50,000원</b></p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <%}%>
                            </ul>
                        </div>

                    </div>
                    <!-- //List -->

                </div>

            </div>
            <!-- //Content  -->
        </form>

        <!-- #1 내 위치 재설정-->
        <div class="layer pop_relocation">
            <div class="title">내 위치 재설정<button type="button" onclick="close_layer()">닫기</button></div>
            <div class="vertical_align">
                <div>
                    <b>현재 위치 재검색 또는<span>지도로 위치설정이 가능합니다.</span></b>
                    <p onclick="geoFindMe(true,true,false); return false;"><span class="bg_01">현재 위치 재검색</span></p>
                    <br />
                    <p onclick="select_map(); return false;"><span class="bg_02">지도로 위치 설정</span></p>
                </div>
            </div>
        </div>

        <!-- #2 지도 -->
        <div class="layer pop_map">
            <button class="pc_btn_close" type="button" onclick="close_layer()">닫기</button>
            <div class="title"><span>위치설정</span><button type="button" onclick="close_layer()">닫기</button></div>
            <div class="address">서울특별시 중구 세종대로</div>
            <div class="inner_map">지도</div>
            <div class="btn_set">
                <button class="gra_left_right_red">설정 완료</button>
            </div>
        </div>

        <!-- #3 거리순/추천순 팝업 -->
        <div class="layer pop_sort box_shadow">
            <ul>
                <li><button type="button" data-sort="HIT" class="active">추천 순</button></li>
                <li><button type="button" data-sort="DISTANCE" class="">거리 순</button></li>
                <li><button type="button" data-sort="LOWPRICE" class="">낮은 가격 순</button></li>
                <li><button type="button" data-sort="HIGHPRICE" class="">높은 가격 순</button></li>
            </ul>
            <button type="button" onclick="close_layer();">취소</button>
        </div>

        <!-- #4 지도 - 모바일 숙소 소개 -->
        <div class="layer pop_m_room">
            <ul class="owl-carousel"></ul>
        </div>

    </div>

    <!-- Footer -->
    <footer>
        <% include ../viewmodules/footer.ejs %>
                                </footer>

                        </div>

                        <!-- 상단으로 -->
                        <button class="btn_go_top" onclick="moveTop();">상단으로</button>

                        <!-- //Wrap -->

                        <!-- Script -->
                        <!-- Library -->
                        <script type="text/javascript" src="/js/library/jquery.cookie.js"></script>
                        <script type="text/javascript" src="/js/library/jquery.lazyload.js?rand=1591250196"></script>
                        <script type="text/javascript" src="/js/library/iscroll.js"></script>

                        <!-- Service -->
                        <script type="text/javascript" src="/js/service/common.js?rand=1591250196"></script>
                        <script type="text/javascript" src="/js/service/geolocation.js?rand=1591250196"></script>

                        <!-- Module -->
                        <script type="text/javascript" src="/js/modules/dialogPopup.js?rand=1591250196"></script>

                        <!-- Page Script -->
                        <script type="text/javascript" src="/js/library/jquery-ui.min.js"></script>
                        <script type="text/javascript" src="/js/library/jquery.ui.touch-punch.min.js"></script>
                        <script type="text/javascript" src="/js/library/jquery.comiseo.daterangepicker.min.js"></script>
                        <script type="text/javascript" src="/js/library/swiper.min.js"></script>
                        <script type="text/javascript" src="/js/library/owl.carousel.min.js"></script>
                        <script type="text/javascript" src="/js/library/moment.js"></script>
                        <script type="text/javascript"
                            src="http://14.32.18.107:3000/js/service/datepick.js?rand=1591250196"></script>
                        <script type="text/javascript" src="/js/library/vue.min.js"></script>
                        <script type="text/javascript"
                            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=1eff36c782b04e85889f4698bef8673f">
                        </script>
                        <script type="text/javascript"
                            src="http://14.32.18.107:3000/js/service/product.js?rand=1591250196"></script>
                        <script type="text/javascript"
                            src="http://14.32.18.107:3000/js/service/product.search.js?rand=1591250196"></script>
                        <script type="text/javascript"
                            src="http://14.32.18.107:3000/js/service/product.list.js?rand=1591250196"></script>

                        <!-- Body Spinner -->
                        <div class="spinner show"><span></span></div>

                        <div style="display:none;">
                            <!-- 네이버 프리미엄 로그 분석(https://yeogirnd.atlassian.net/browse/SD-320)-->
                            <script type="text/javascript" src="https://wcs.naver.net/wcslog.js"></script>

                            <script>
                                //스토어 랜딩 분기
                                function goAppStore(dialogCheck) {

                                    var url = location.protocol + '//m.goodchoice.kr/main/adKeywordLanding/';
                                    var kcode = getCookie('k_code');

                                    if (kcode && kcode.indexOf("^") > -1) {
                                        if (kcode.indexOf("du_") === 0) {
                                            // 'du_' 다음 유입
                                            dialogCheck ? url += 'oK0nFLMJQJ2l' : url += 'oK0nFLMJQJ2j';
                                        } else if (kcode.indexOf("ns_") === 0) {
                                            // 'ns_' 네이버 지식쇼핑 유입
                                            dialogCheck ? url += 'ogMnDvZlsM2j' : url += 'ogynogydDJ2j';
                                        } else {
                                            // 그 외
                                            url += 'ogMnDvZlsM2j';
                                        }
                                    } else {
                                        // 그 외
                                        dialogCheck ? url += 'ogMnDvZlsM2b' : url += 'ogMnDvZlsM2j';
                                    }
                                    location.href = url;
                                }
                                // 쿠키 생성
                                function setCookie(cName, cValue, cDay) {
                                    var expire = new Date();
                                    expire.setDate(expire.getDate() + cDay);
                                    cookies = cName + '=' + escape(cValue) + '; path=/ ';
                                    if (typeof cDay != 'undefined') cookies += ';expires=' + expire.toGMTString() + ';';
                                    document.cookie = cookies;
                                }

                                // 쿠키 가져오기
                                function getCookie(cName) {
                                    cName = cName + '=';
                                    var cookieData = document.cookie;
                                    var start = cookieData.indexOf(cName);
                                    var cValue = '';
                                    if (start != -1) {
                                        start += cName.length;
                                        var end = cookieData.indexOf(';', start);
                                        if (end == -1) end = cookieData.length;
                                        cValue = cookieData.substring(start, end);
                                    }
                                    return unescape(cValue);
                                }
                                if (getCookie('marketing_type') != '') {
                                    if (getCookie('marketing_type') == 'pay') {
                                        var _nasa = {};
                                        _nasa["cnv"] = wcs.cnv("1", getCookie(
                                            'marketing_price')); // 전환유형, 전환가치 설정해야함. 설치매뉴얼 참고
                                    } else {
                                        var _nasa = {};
                                        _nasa["cnv"] = wcs.cnv("2", "1"); // 전환유형, 전환가치 설정해야함. 설치매뉴얼 참고
                                    }

                                    //쿠키 삭제
                                    setCookie('marketing_price', '', -1);
                                    setCookie('marketing_type', '', -1);
                                }
                            </script>
                            <script>
                                (function (i, s, o, g, r, a, m) {
                                    i['GoogleAnalyticsObject'] = r;
                                    i[r] = i[r] || function () {
                                        (i[r].q = i[r].q || []).push(arguments)
                                    }, i[r].l = 1 * new Date();
                                    a = s.createElement(o),
                                        m = s.getElementsByTagName(o)[0];
                                    a.async = 1;
                                    a.src = g;
                                    m.parentNode.insertBefore(a, m)
                                })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

                                ga('create', 'UA-77719807-2', 'auto');
                                ga('send', 'pageview');
                            </script>

                            <!-- Daum  중요 용도가 아니라면 주석처리 여부 결정 문제 없을시 삭제
    <script type="text/javascript">
        var roosevelt_params = {
            retargeting_id:'iaYgM3OBV.Uv.QOMJv.bqg00',
            tag_label:'BTecd8srQJ2G5hhOmZIanw'
        };
    </script>
    <script type="text/javascript" src="//adimg.daumcdn.net/rt/roosevelt.js" async></script -->

                            <!-- Google Code for &#50668;&#44592;&#50612;&#46412;_&#50937; Conversion Page -->
                            <script type="text/javascript">
                                /* <![CDATA[ */
                                var google_conversion_id = 964418007;
                                var google_conversion_language = "en";
                                var google_conversion_format = "3";
                                var google_conversion_color = "ffffff";
                                var google_conversion_label = "6YMHCM_i81wQ17PvywM";
                                var google_remarketing_only = false;
                                /* ]]> */
                            </script>
                            <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
                            </script>

                            <noscript>
                                <div style="display:inline;">
                                    <img height="1" width="1" style="border-style:none;" alt=""
                                        src="//www.googleadservices.com/pagead/conversion/964418007/?label=6YMHCM_i81wQ17PvywM&amp;guid=ON&amp;script=0" />
                                </div>
                            </noscript>

                            <script type="text/javascript">
                                if (!wcs_add) var wcs_add = {};
                                wcs_add["wa"] = "s_4540c185467c";
                                if (!_nasa) var _nasa = {};
                                wcs.inflow("goodchoice.kr");
                                wcs_do(_nasa);
                            </script>

                            <!-- Global site tag (gtag.js) - Google AdWords: 802163829 -->
                            <script async src="https://www.googletagmanager.com/gtag/js?id=AW-802163829"></script>
                            <script>
                                window.dataLayer = window.dataLayer || [];

                                function gtag() {
                                    dataLayer.push(arguments);
                                }
                                gtag('js', new Date());

                                gtag('config', 'AW-802163829');

                                // Event snippet for WEB_다운로드_버튼 conversion page In your html page, add the snippet and call gtag_report_conversion when someone clicks on the chosen link or button.

                                $(function () {
                                    $('.appdown_link').on('click', function () {
                                        gtag('event', 'conversion', {
                                            'send_to': 'AW-802163829/jxc6CN22x4MBEPWYwP4C'
                                        });
                                    });
                                });
                            </script>

                            <!-- 채널제출 -->
                            <!-- <span itemscope="" itemtype="http://schema.org/Organization">
            <link itemprop="url" href="http://14.32.18.107:3000">
            <a itemprop="sameAs" href="https://www.facebook.com/goodchoiceofficial"></a>
            <a itemprop="sameAs" href="https://play.google.com/store/apps/details?id=kr.goodchoice.abouthere"></a>
            <a itemprop="sameAs" href="https://itunes.apple.com/kr/app/id884043462"></a>
            <a itemprop="sameAs" href="https://post.naver.com/withinnovation"></a>
            <a itemprop="sameAs" href="https://www.youtube.com/channel/UCLI1HOVJdhWdVl9pT__g2Zw"></a>
        </span> -->
                        </div>
</body>

</html>